@import 'vars';
@import 'mixins';

@include main;

// pocetak koda css za navigacioni bar u headeru

header {
	width: 100%;
	height: 5em;
	color: #fff;

	.location, nav {
		padding: 1em 2em;
	}

	.location {
		height: 100%;
		width: 20%;
		float: left;
		background: $main_orange;
		text-decoration: underline;

		img {
			height: 100%;
			float: left;
		}

		span {
			font-size: 1.5em;
			float: left;
			margin-top: 0.3em;
    		text-decoration: underline;
		}
	}

	nav {
		float: right;
		height: 100%;
		width: 80%;
		text-align: left;
		background: $main_dark;

		ul {
			list-style: none;
			padding-top: .8em;

			li {
				display: inline-block;
				margin-right: 5em;
				font-size: 1.2em;

				a {
					color: #fff;
					vertical-align: middle;
					text-decoration: none;

					&:hover { text-decoration: underline; }
				}
			}
		}
	}
}   // kraj koda za navigacioni bar


section{
    width: 100%;
    padding: 3em 15%;
    @include clearfix;
}

.home{
    height: 50em;
    background: url(../slike/intro.jpg);
    background-size: cover;
    h1, h2{
        color: $white;
        font-weight: normal;
        background: rgba(106, 161, 196, 0.6);
        text-align: center;

    }

    h1{
        margin-top: 40%;
        font-size: 4em;
    }

}

//pocetak koda za dugma koji floatuju u desno

.button{
    padding: 1em 2em;
    border-radius: 60px;
    color: $main_text_color;
    border: 1px solid $grey_light;
    margin: 0 1em;
    cursor: pointer;
    
    

    &:hover {
        background: $grey_light;
        color: red;
    }

}

.filter{
    text-align: right;  // koriscen umesto floar right da se text ne bi izokrenuo
}

// kraj koda za dugmad koji floatuju u desno


.slike{
    background: $section_grey;
    a {color: #f000;}
}

.column{
    width: 20%;
    height: 20em;
    float: left;
    margin: 1em;
    

    .columninfo{
        display: none;
        width: 100%;
        height: 40em;
        background: rgba(255, 255, 255, 0.7);
        padding: 1em;
        
        h1,h2 {font-weight: normal;}

    }

    &:hover .columninfo {display: block};

    @for $i from 1 through 6{
        &.column#{$i} { 
			background: url('../slike/#{$i}.jpg'); 
			background-size: cover;	
		}
    }
}

// ovo je deo koda za tabelu i pricing 

.contact, .pricing{
    h1{
        font-size: 2em;
        color: $main_dark;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.5em;
    }
}

.pricing{
    color: $main_text_color;
    text-align: center;

    a{
        display: none;
    }

    .ptable{
        width: 60%;
        margin: 3em auto;
        border-collapse: collapse;

        th, td{
            padding: .5em;
        }

        orange{
            background: $main_orange;
            color: white;
        }

        .darkcol{
            background: $main_dark;
            color: #fff;
            font-weight: bold;
        }

        .orange{
            background: $main_orange;
            color: white;
        }

        thead{
            .darkcol{
                border-right: 1px solid $main_text_color;
            }
        }

        tbody{
            td{
                border: 1px solid $main_text_color;
            }
        }

    }
}

// zavrsetak koda za tabelu.

// ovo je deo koda za mapu i formu dole

.contact{
    background: $section_grey;


    .mapholder{
        float: left;
        margin: 1em;
        width: 30%;

        iframe{
            width: 100%;
        }
    }


    form{
        width: 60%;
        margin: 1em;
        float: right;
        padding: 1em;
        background: $main_orange;

        .contactinput{
            float: left;
            padding: .5em;
            color: $main_dark;
            border: none;
            margin: 1em;
        }

        select{
            width: 20%;
        }

        .contactinput[type="text"]{
            float: right;
            width: 70%;

        }

        .contactinput[type="email"]{
            width: 96%;
        }

        textarea.contactInput {
			width: 96%;
		}



    }
   
}


// deo koda za mapu i forme gotov

// pocetak koda za footer

footer{
    padding: 1em;
    text-align: center;
    width: 100%;
    background: $main_dark;
    color: white;
    span {color: $main_orange;}
}

// kraj koda za footer


@media screen and (max-width: 1100px){

    .column{
        width: 45%;
    }

    .pricing{
        .ptable{width: 100%;}
    }

    .contact{
        .mapholder{
            width: 50%;
            float: none;
            margin: 1em auto;
        }

        form{
            width: 100%;
        }
    }

    header {
		.location {
			width: 30%;
        }
        nav{
            width: 70%;
            
        }

	
	}

}